.dock-menu
    display: block
    position: absolute
    overflow-y: scroll
    overflow-x: hidden
    flex-wrap: wrap
    top: 1%
    right: -155px
    height: 120vh
    width: 400px
    transform: scale(0.6)
    transform-origin: 0 0
    transition: .5s
    opacity: 0.7
    background: linear-gradient(to top, white 90%, transparent 100%)
    &:hover
        top: 1%
        right: -155px
        opacity: 1
    .dock-item
        margin: 1em
        float: right
